@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Satisfy&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Satisfy', cursive; */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}